.navbar{
    height:60px;
    width:300px;
    border-radius:100px;
    margin:530px 0px 0px 550px;
    position:fixed;
    z-index:100;
    padding:5px 20px;
    box-sizing:border-box;
    background-image:linear-gradient(to right, white,rgb(141, 138, 138));
    color:#000000;
    animation-name:baar;
    animation-duration:0.50s;
}
@keyframes baar {
    from {top: 90px;}
    to {top: 0px;}
  }

a{
    color:#000000;
}
.navbar-list{
height:40px;
display:flex;
justify-content:center;
align-items:center;
font-size:22px;
float:left;
width:40px;
border-radius:100px;
transition:1s;
}
.navbar-list:hover{
    background:#06223f;
    color:#fff;
    cursor:pointer;
}

.main-div-home{
    height:625px;
    width:100%;
    box-sizing:border-box;
}
.left-content{
    height:100%;
    width:66%;
    float:left;
}
.right-content{
    height:100%;
    width:34%;
    text-transform:uppercase;
    float:left;
   position:relative;
    background-image:linear-gradient(rgba(96, 155, 250, 0.5), rgba(176, 200, 243, 0.5));
    animation: mymove;
    animation-duration:2s;
}

@keyframes mymove {
    from {left: 500px;}
    to {left: 0px;}
  }

.right-content-name{
    color:#06223f;
    height:80px;
    font-size:60px;
    font-family:Sans-serif	Arial, Verdana, Helvetica;
    font-weight:bold;
    margin:190px 0px 0px 180px;
    width:350px;
    box-sizing:border-box;
    transform:rotate(90deg);
}
.navv{
    height:50px;
    width:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:35px;
    position:fixed;
    background:rgba(247, 243, 243, 0.5);
    box-sizing:border-box;
    cursor:pointer;
    margin:30px;
    border-radius:10px;
}
.left-div-content{

    height:300px;
    width:400px;
    font-size:20px;
    position:absolute;
    margin:280px 0px 0px 280px;
    color:#06223f;
    font-family: Inria-Serif;
    line-height:1;
    animation: mycnt;
    animation-duration:3s;
}

@keyframes mycnt {
    from {bottom: 100px; opacity:0;}
    to {bottom: 45px; opacity:1;}
  }

.hire{
    border:2px solid #000000;
    display:flex;
    font-weight:500;
    font-size:20px;
    justify-content:center;
    align-items:center;
    border-radius:5px 5px 30px 5px;
    height:45px;
    cursor:pointer;
    width:150px;
    margin-left:200px;
}
.immg{
    margin:25px 0px 0px 650px;
    height:600px;
    width:500px;
    position:absolute;
    z-index:90;
    animation: myimg;
    animation-duration:1s;
}

@keyframes myimg {
    from {top: 500px;}
    to {top: 0px;}
  }